#categories {
    width: 392px;
    margin: 0 auto;

    & .item {
        background: #f6f6fe;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 24px;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 8px;


            & li {
                border: 1px solid #808080;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.04em;
                padding: 8px 16px 8px;
            }
        }
    }
}

@media screen and (min-width: 1158px) {
    #categories {
        width: 680px;
        }
}